<div class="text-center align-items-center justify-content-center">
  <ul class="list-group">
    <li class="list-group-item  list-group-item-success">
      Sesion actualmente activa con  "<%= current_user.email %>"
    </li>
  </ul>
</div>
<br>
<br>
<br>
<div class="text-center align-items-center justify-content-center">
    <%= link_to "Ir al elearning", "http://localhost:3000" , class: "btn btn-primary", style: "margin-right: 5%"%>

    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete , class: "btn btn-danger"%>
</div>
