<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contrase침a. Puede hacerlo en el link de abajo</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no pediste este mensaje, por favor ignoralo</p>
<p>Tu constrase침a no ser치 cambiada hasta que accedas al link y crees una.</p>
